.background-banner{
    background-image: url('../../src/assets/images/book-turning-pages-cup_1150-147.avif');
    min-height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.bg-form{
    background-color: rgba(250, 235, 215, 0.49);
}
.add-book-card{
    width: 75%;
}

@media only screen and (max-width: 768px)  {
    .add-book-card{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .add-book-card{
        width: 50%;
    }
}