.background-banner{
    background-image: url('../../src/assets/images/high-angle-open-book_23-2148568913.avif');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.bg-form{
    background-color: antiquewhite;
}
.add-book-card{
    width: 75%;
}

@media only screen and (max-width: 768px)  {
    .add-book-card{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .add-book-card{
        width: 50%;
    }
}