.image-container {
  position: relative;
}

.image-container .image-text {
  display: none;
  opacity: 1;
  font-size: 16px;
  cursor: pointer;
  transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
}

.image-container:hover .image-text {
  display: inline-block;
  position: absolute;
  color: black;
  left: 0;
  right: 0;
  top: 45%;
  background-color: #0dcaf0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  transition-duration: 5s;
}
.image-container:hover img {
  opacity: 0.7;
}
.card-background{
  background: url('../assets/images/card-bg.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* .book-card:hover{
  box-shadow: black;
} */